* {
  font-family: 'Poppins', sans-serif;
}

.sidebar-wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
  height: auto;
}

.sidebar-container {
  height: 180vh;
  width: 14% !important;
  transition: width 0.3s ease;
  background-color: #fff;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.05);
}

.sidebar-container.ps-collapsed {
  width: 85px !important;
}

.sidebar-container.ps-collapsed .ps-menu-button {
  justify-content: flex-start !important;
  padding-left: 15px !important;
  text-align: left;
}

.side-container {
  padding: 0 10px;
}

.logo-wrapper {
  text-align: center;
  margin: 20px 0;
}

.logo-wrapper.collapsed .logo {
  height: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.logo {
  height: 110px;
  width: auto;
  display: block;
  margin: 0 auto;
  transition: height 0.3s ease;
}

.toggle-btn-right {
  margin-left: 5px;
  margin-top: 50px;
  background: none;
  border: none;
  color: #4B929D;
  padding: 8px 20px;
  font-size: 28px;
  cursor: pointer;
}

.toggle-btn-right:hover {
  color: #007b99;
}

.section-title {
  margin-top: 45px;
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #444;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

.ps-menu-button {
  padding: 10px 15px;
  margin: 4px 0;
  border-radius: 6px;
  font-size: 14px;
  color: #666 !important;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.2s ease;
}

.ps-menu-button:hover {
  background-color: #E9F5FE;
  color: #4B929D;
}

.ps-active {
  background-color: #E9F5FE !important;
  color: #007b99 !important;
  font-weight: 500;
  border-radius: 6;
}

.ps-menu-button svg {
  font-size: 20px;
  width: 20px;
  height: 20px;
}
